<%= render('layouts/errors', :object => @sighting) %>

<%= form_for [@animal, @sighting] do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <%= f.label :latitude %>
  <%= f.text_field :latitude %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>
  <% options = options_from_collection_for_select(@region, 'id', 'name') %>
  <%= f.select :region_id,  options %>
  <p><%= f.submit %></p>
<% end %>
